.mdl-layout--index {
    background: url('../images/porto.jpg') center / cover;
}

.mdl-layout--index .mdl-layout__header,
.mdl-layout--index .mdl-layout__drawer-button {
     color: white;
}

.page-content--index {
    text-align: center;
}

#button {
    padding: 20px;
    background: #fafafa;
    position: relative;
}

.interests {
	padding: 20px;
}

.interests__interest {
	display: inline;
	padding: 10px;
}

.interests__icon {
	font-size: 48px !important;
	color: #fff;
}

#map {
    padding-top: 30px;
    width: 100%;
    height: 500px;
}
